body {
    background-color: rgb(247, 53, 53);
    height: 100%;
    margin: 0;
    padding: 0.5em;
}

#logo {
    animation: logo-spin infinite 5s linear;
    height: 40vmin;
}

@keyframes logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

#logo2 {
    animation: logo-spin-2 infinite 25s linear;
    height: 40vmin;
}

@keyframes logo-spin-2 {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

#logo3 {
    animation: logo-spin-3 infinite 45s linear;
    height: 40vmin;
}

@keyframes logo-spin-3 {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(-360deg);
}
}